body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 64px;
}

/* top banner styles */

.top-banner {
    display: flex;
    background-color: #2D25A0;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width h1 {
    color: #ffffff;
}

.half-width a {
    color: #ffffff;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 30px;
}

.fa-arrow-right {
    font-size: 12px;
}

.half-width img {
    width: 100%;
}