body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 64px;
}

/* top banner styles */

.top-banner {
    display: flex;
    background-color: #2D25A0;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width h1 {
    color: #ffffff;
}

.half-width a {
    color: #ffffff;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 30px;
}

.fa-arrow-right {
    font-size: 12px;
}

.half-width img {
    width: 100%;
}


/* photo album styles */

.photo-album {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 80%;
    margin: 80px auto;
}

.frame {
    padding: 15px;
    box-shadow: 0 0 10px #aaaaaa;
}

.frame img {
    width: 100%;
}

/* stats section styles */

.stats {
    padding: 50px 0;
    background-color: #eeeeee;
    text-align: center;
}

.stats h1 {
    margin-bottom: 0;
}

.stats a {
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 30px;
    border-radius: 5px;
    color: black;
}

.stats a:hover {
    background-color: #333333;
    color: #ffffff;
}


/* highlights section styles */

.highlights {
    display: flex;
    align-items: center;
}

.highlights h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.highlights p {
    margin-bottom: 30px;
}

/* footer styles */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 30%;
    margin-bottom: 30px;
}

.fab {
    background: #d3d3d3;
    padding: 8px;
    border-radius: 15px;
    color: #777777;
    margin-right: 14px;
}


/* media query css */

